<%= render "shared/problem", problem: @problem, header: "header01.png" %>
<div class="grid-container">
  <div class="text-width">
    <section class="page-section">
      <div class="grid-x">

        <h5>
          ¿Qué te pareció la implementación del proyecto? ¿Crees que hay algo que se pudo hacer mejor? Al terminar el proceso aquí tendrás un espacio para dejar tu opinión y compartirla con la comunidad.
        </h5>
        <%= link_to "Evaluar", new_project_evaluation_path(:problem_id => @problem.id) %>
      </div>
    </section>
  </div>
</div>
