<div class="breadcrumbs grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="small-12 medium-12 cell">
      <%= render "shared/back_link" %>
    </div>
  </div>
</div>

<section class="page-section">
  <div class="grid-container">
    <div class="grid-x">
      <%= render "shared/problem", problem: @problem %>

      <h3>Evaluación</h3>

      <p>
        ¿Qué te pareció la implementación del proyecto? ¿Crees que hay algo que se pudo hacer mejor? Al terminar el proceso aquí tendrás un espacio para dejar tu opinión y compartirla con la comunidad.
      </p>
      <%= link_to "Evaluar", new_project_evaluation_path(:problem_id => @problem.id) %>
    </div>
  </div>
</section>
