<div class="restriction-nested">
  <h4> Restricción </h4>
  <%= f.input :description, input_html: { rows: 2} %>

  <%= link_to_remove_association "Eliminar restricción", f, {wrapper_class: 'restriction-nested'} %>
</div>
