<div id="tag-cloud">
  <div class="small gray"><%= t("shared.tags_cloud.tags") %></div>
  <ul class="no-bullet tag-cloud">
    <% @tag_cloud.tags.each do |tag| %>
      <li class="inline-block">
        <%= link_to taggables_path(taggable, tag.name) do %>
          <span class="tag"><%= tag.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
