<div class="picture-nested" id="panel2d">
  <!-- <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div> -->

  <div class="controls">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

</div>
