<br>
<div class="small gray"><%= t("shared.tags_cloud.categories") %></div>
<ul id="categories" class="no-bullet categories">
  <% @categories.each do |category| %>
    <li class="inline-block"><%= link_to category.name, proposals_path(search: category.name) %></li>
  <% end %>
</ul>
