<div class="proposal-form">

  <%= render "shared/back_link" %>

  <div class="grid-container">

  <%= render "shared/problem", problem: @problem %>

    <h3 class="page-title"><%= t("titles.create_proposal") %></h3>
    <h4 class="page-title">Paso 2: Comparte tu idea</h4>

    <%= render "proposals/form", form_url: proposals_url %>
  </div>

</div>
