// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

h1, h2, h3, h4 {
  font-weight: 900;
}

h1 {
  font-size: calc(1.5vw + 2.5rem);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: $body-font-family-title;
}

h2 {
  letter-spacing: 4px;
  font-size: 36px;
  text-transform: uppercase;
  font-family: $body-font-family-title;
  margin: 2vw 0;
}

h3 {
  font-size: 30px;
  font-family: $body-font-family-title;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h4 {
  font-size: 24px;
  font-weight: normal;
}

h4 a {
    color: $gray-two;
    &:hover {
      color: $gray-one;
    }
}

h5 {
  font-size: calc(0.9rem + 0.8vmin);
  font-weight: normal;
  margin-bottom: 1vw;
  & a {
    color: $gray-one;
  }
}

h6 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $gray-one;
}

.bajada {
    margin-top: -1rem;
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 28px;
  }
}

.row {
  max-width: none;
}

a:hover {
  text-decoration: none;
}

.button:hover, .button:focus {
  background: darken($brand, 10%);
}

p {
  color: $gray-two;
  font-size: 14px;
  margin-bottom: 2vw;
}

.small {
  font-family: $body-font-family-title;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 25px;
  position: relative;
  margin-bottom: 10px;
  font-weight: 900;
  &:before {
    content: '_';
    font-size: 36px;
    position: absolute;
    bottom: -3px;
    left: 5px;
  }
}


.small-without-line{
  font-family: $body-font-family-title;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
}

.fixed-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.page-section {
  padding: calc(3rem + 3vw) 0;
}

.details {
  font-size: 12px;
}

.epigraph {
  margin-bottom: -20px;
}

.epigraph-small {
  margin-bottom: 0px;
}

.subtitle {
  margin-top: -20px;
}

h1.page-title {
  margin-top: 5vw;
}

h2.page-title {
  margin: 0vw 0 1vw;
}

h4.page-title {
  margin-bottom: 2vw;
}

.label {
    padding: 0.5rem 0.9rem 0.35rem;
    border-radius: 0;
}

hr {
    border-bottom: 1px solid #E1EAF7;
}

.tags a, .tag-cloud a, .categories a, .geozone a, .sidebar-links a, .tags span {
    background: $gray-two;
    border-radius: 0;
    color: white;
    font-size: 12px;
    padding: 0.2vw 1vw 0.1vw;
}


.tags a:hover, .tag-cloud a:hover, .categories a:hover, .geozone a:hover, .sidebar-links a:hover, .tags span:hover {
    background: $brand;
}

.debate-show .tags a, .proposal-show .tags a, .investment-project-show .tags a, .budget-investment-show .tags a, .polls-show .tags a {
  margin-right: 0.1rem;
}

.padding {
  padding: 2.5vw;
}

.padding-small {
  padding: 1rem;
}

.num {
  position: relative;
  text-align: center;
  margin-top: -9px;
  &::after {
    content: '_';
    position: absolute;
    bottom: -16px;
    left: 43%;
  }
}

.counter {
  font-size: 24px;
  font-family: "Dosis", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.counter-bg {
  background: $gray-one;
  font-family: "Dosis", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 2px 9px;
  border-radius: 3px;
}

h4.counter {
    letter-spacing: 0;
    margin-bottom: 0px;
}

.info {
  font-size: 14px;
}

// Text color

.line-text {
  color: $gray-four;
}

.white {
  color: white;
}

.gray {
  color: $gray-two;
}

.blue {
  color: $light-blue;
}

.orange {
  color: $orange;
}

.brand{
  color: $brand;
}

// Margins and paddings

.mt-90 {
  margin-top: 90px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0;
}


// Background color

.bg-gray {
    background: $gray-two;
}

.bg-light-gray {
  background: $gray-five;
}

.bg-blue {
  background: $light-blue;
}

.bg-blue-border {
    border-left: 30vw solid $light-blue;
    margin-left: -32.5vw;
}

.bg-orange {
  background: $orange;
}

.bg-white {
  background: white;
}

.overlap {
    margin-top: -4vw;
    margin-bottom: 2vw;
    z-index: 1;
    position: relative;
}

// Breadcrumbs

.breadcrumbs li {
  color: white;
}

// Form

form label {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5rem;
}

.form-account{
  font-size: 16px;
}

label.text-right {
    margin-top: 7px;
}

ol {
    list-style-type: decimal-leading-zero;

  &.admin{
    list-style-type: lower-alpha;
  }

}

form li {
    font-size: 18px;
}

select {
  margin: 0;
}

.admin-view {
    background: #F7FBFF;
}

.cd-horizontal-timeline .events-content {
  position: relative;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  animation-direction: reverse;
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.active-problem{
  background: $orange;
  background-position: 75% 0;
  position: relative;

  h4, a:hover h4 {
    color: white !important
  }

  p {
    color: white;
  }

  @include breakpoint(medium) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

// Buttons

.button{
  border-radius: 0.3rem;
  padding: calc(0.5rem + 0.5vmin) calc(0.8rem + 0.8vmin);
  font-size: 14px;
  font-family: "Fira sans", "Helvetica", "Arial", sans-serif !important;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
}

.button.tiny {
  font-size: 12px;
  padding: 0.6rem 1vw;
}

.button.large {
    font-size: 1.25rem;
    padding: 1rem 3rem;
}

.button.primary {
  background: $brand;
  color: white;
  &:hover {
    background: darken( $brand, 6% );
    color: white;
  }
}

.button.secondary {
    background-color: $gray-three;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      background-color: darken($gray-two, 5%);
    }
}

.button.success {
    background: white;
    &:hover {
      background: darken(white, 10%);
    }
}

.in-favor{
  text-align: -webkit-right;
}

// Social buttons

.share-supported .ssb-facebook {
    background: rgba(63, 169, 245, 0);
    border-radius: 4vw;
    border: 1px solid white;
    margin-bottom: -14px;
    margin-left: 1vw;
}

.share-supported .ssb-facebook:before {
    font-size: 16px;
    line-height: 2.5rem;
    margin-left: -0.5rem;
}

.ssb-facebook {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

// Menu

.admin-menu{
  border-bottom: 1px solid $gray-four;
}

.submenu {
    margin-bottom: 0rem;
    border-bottom: none;
}

.submenu a {
    color: $gray-two;
    margin-bottom: -2px;
    font-weight: 400;
}

.submenu a.active {
  border-bottom: 4px solid #D80017;
}

.menu.simple {
    border-bottom: none;
}

// Proposals

.proposal {
    background: $gray-five;
    position: relative;
    height: 470px;
}

.proposal-content h5 {
    margin-bottom: 0;
}

.proposal-support {
    background: #fff;
    border: 4px solid $gray-five;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.proposal-content {
  padding: calc(0.8rem + 1vmin);
}

.support-count {
  position: relative;
  margin-bottom: 10px;
}

.support-count .has-tip {
  position: absolute;
  bottom: 5px;
  left: -18px;
  padding-left: 4px;
}

#proposals .bg-orange .button {
    margin-bottom: 1px;
    margin-left: 10px;
}

.proposal .supports {
    padding: 1vw 0 0;
}

.participation-not-allowed {
    height: initial;
}

.advanced-search {
  margin-bottom: 2vw;
  margin-top: 1.75rem;
  float: right;
  position: relative;
}

.advanced-search-form {
  clear: both;
  padding-left: 2.5vw;
}

.advanced-search-form form label {
    font-size: 16px;
    color: #6C798A;
}

.advanced-search-form .button {
    margin-top: 23px;
}

.meter{
  background: $light-blue !important;
}

.progress{
  background: $gray-three !important;
  margin-top: 1rem;
}

ul, ol, dl {
    line-height: 1.6;
    margin-bottom: 0rem;
    list-style-position: outside;
}

.tag-votes{
  background: $light-blue;
}

// header

header {
    border-bottom: none;
}

.mt-header {
  margin-top: -27px;
}

.top-bar {
    line-height: 28px;
}

.top-bar-title {
  padding: 3px 0;
}

.top-bar-title-right{
  float: right;
}

.top-bar .top-bar-title a img {
    margin-bottom: -2px;
    height: 42px;
    width: auto;
    margin-right: 0;
}

.top-bar-right li a {
  padding: 12px 0;
}

.mobile-menu {
  color: $brand;
  padding: 11px 0px 0px;
  font-size: 28px;
}

.logo-mobile {
  height: 46px;
  padding: 5px 0;
}

// dropdown

.is-dropdown-submenu {
  min-width: 300px;
  border: none;
  background: #F7FBFF;
}

.dropdown.menu .is-submenu-item a {
  margin-right: 0;
  line-height: 24px;
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
    top: 104%;
}

.menu a, .menu .button {
  padding: 0.7rem 0rem;
}

.header-title{
  color: $gray-two;
}

.subnavigation {
    background: #F7FBFF;
}

.subnavigation ul {
      z-index: 2;
}

.subnavigation ul li a {
  line-height: 14px;
  font-weight: 400;
  color: $gray-two;
}

.subnavigation ul li:last-child {
    margin-right: 0;
}

.text-width{
  max-width: 950px;
  margin: 0 auto !important;
}

.summary {
  background-color: $orange;
  margin-bottom: 30px;
  color: $white;
  p {
    color: $white
  }
}

.img-content-poll{
  background-color: $orange;
  max-width: 900px;
  padding: 0.7rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  margin-bottom: 30px;
  color: $white;
}

.img-poll {
  position: relative;
  height: 290px;
}

.img-projects {
  position: relative;
  height: 290px;
}

.img-projects img {
  clip: rect(0px, 2000px, 420px, 0px);
  position: absolute;
  z-index: -1;
  width: 100%;
}

.img-poll img {
  clip: rect(0px, 2000px, 420px, 0px);
  position: absolute;
  z-index: -1;
  width: 100%;
}

.menu-poll{
  border-bottom: 0;
}

.deadline-problem{
  margin-top: -7vw;
  z-index: 1;
  position: relative;
}

.mark-days{
  font-size: 2rem;
  text-decoration: underline;
}

.problem-display{
  margin-bottom: 3rem;

  p{
    color: $white;
  }
}

// Pagination

.pagination {
    margin-bottom: 3rem;
}

.pagination .current {
    background: $gray-three;
    color: white;
    font-size: 12px;
}

.pagination a, .pagination button {
    font-size: 12px;
    color: $gray-two;
    &:hover {
      background: $gray-four;
    }
}

// Home - hero

.hero {
    margin-bottom: 7vw;
}

.pane--hero-block {
    overflow: hidden;
}
.pane-bundle-complex-block {
    position: relative;
    clear: both;
    z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .pane--hero-block .fieldable-panels-pane {
      height: calc(100vh - 130px);
  }
}
.pane--hero-block .fieldable-panels-pane {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    height: calc(100vh - 100px);
    transition: .3s;
    background: #08152a;
}

.page-dashboard .panel-pane.pane-views, .section-user .panel-pane.pane-views, .page-checkout-login .panel-pane.pane-views, .section-users .panel-pane.pane-views, .section-admin .panel-pane.pane-views, .page-dashboard .panel-pane.pane-views-panes, .section-user .panel-pane.pane-views-panes, .page-checkout-login .panel-pane.pane-views-panes, .section-users .panel-pane.pane-views-panes, .section-admin .panel-pane.pane-views-panes, .page-dashboard .panel-pane.pane-shortcut-shortcuts, .section-user .panel-pane.pane-shortcut-shortcuts, .page-checkout-login .panel-pane.pane-shortcut-shortcuts, .section-users .panel-pane.pane-shortcut-shortcuts, .section-admin .panel-pane.pane-shortcut-shortcuts, .page-dashboard .panel-pane.pane-hiveboxx-giftcard-giftcard-attach, .section-user .panel-pane.pane-hiveboxx-giftcard-giftcard-attach, .page-checkout-login .panel-pane.pane-hiveboxx-giftcard-giftcard-attach, .section-users .panel-pane.pane-hiveboxx-giftcard-giftcard-attach, .section-admin .panel-pane.pane-hiveboxx-giftcard-giftcard-attach, .page-dashboard .l-content, .section-user .l-content, .page-checkout-login .l-content, .section-users .l-content, .section-admin .l-content, .pane-bundle-complex-block .fieldable-panels-pane, .pane--centered-blue-image, .pane--box-comparison .fieldable-panels-pane, .pane---how-it-works-icons .fieldable-panels-pane, .pane--truck-text .fieldable-panels-pane, .l-footer_bottom .l-region, .l-header-wrapper .l-region, .l-help .l-region, .block--blockify-blockify-breadcrumb .breadcrumb, .pane-blockify-blockify-breadcrumb .breadcrumb, .block--commerce-checkout-progress-indication, .pane-hiveboxx-referral-hiveboxx-referral-link, .entity-commerce-order, .user-form, .user-profile-form .pane-form, .layout-wrapper .commerce-add-to-cart-giftcard_purchase .field-name-field-gift-card-amount, .node-type-product-page .pane-node .node, .pane-commerce-user-orders, .pane-commerce-order, .pane-bundle-multi-part-text-block .fieldable-panels-pane, .pane-bundle-faq .faqfield-definition-list, .pane--giftcards.panel-pane .field--name-field-image, .pane--hiveboxx-vs-cardboard .fieldable-panels-pane, .pane-hiveboxx-zip-codes-zip-form .zip-code-form--wrapper, .pane---how-it-works-icons .field--name-field-multi-part-text, .pane--packing-systems .fieldable-panels-pane, .pane-mailchimp-signup-suscribe .form-outer, .pane--truck-text .field--name-field-multi-part-text, .l-footer, .page-checkout .l-content, .front .numbered-item, .page-pricing .panel-col-bottom .inside, .taxonomy-term.vocabulary-product-category, .view-commerce-cart-summary, .view-commerce-cart-form, .view-commerce-line-item-table, .page-cart .l-content > .messages, .view-commerce-payment-order, .view-kits, .view-shop .views--group .views--group__content, .view-add-ons, .view-product-bundles.view-display-id-commercial_page, .view-product-bundles.view-display-id-residential_page, .view-product-bundles.view-display-id-related_products, .view-recommended-products, .view-shop {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.pane--hero-block .field--name-field-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.field.field--name-field-background-image.field--type-image.field--label-hidden:after {
    content: '';
    background: #435367;
    height: 100%;
    width: 100%;
}

.backgroundblendmode .pane--hero-block.pane--waypoint .field--name-field-background-image::before, .backgroundblendmode .pane--hero-block.pane--waypoint .field--name-field-background-image::after {
    opacity: 1;
}

.backgroundblendmode .pane--hero-block .field--name-field-background-image::before, .backgroundblendmode .pane--hero-block .field--name-field-background-image::after {
    mix-blend-mode: soft-light;
}

.pane--hero-block.pane--waypoint .field--name-field-background-image::before, .pane--hero-block.pane--waypoint .field--name-field-background-image::after {
    opacity: .4;
}

.pane--hero-block .field--name-field-background-image::before {
    top: 0;
    left: 13.76471%;
    width: 29.11765%;
    height: 100%;
    background: $orange;
}

.pane--hero-block .field--name-field-background-image::before, .pane--hero-block .field--name-field-background-image::after {
    display: block;
    position: absolute;
    transition: .2s;
    content: '';
    opacity: 0;
    z-index: 1;
}

.pane--hero-block.pane--waypoint .field--name-field-background-image .field__item {
    transform: scale(1.2);
}

.pane--hero-block .field--name-field-background-image .field__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 3s;
}

.pane--hero-block .field--name-field-background-image img {
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    object-fit: cover;
}

.pane--hero-block.pane--waypoint .group-ds_content {
    transform: translateY(0);
    opacity: 1;
    margin-bottom: 8vw;
}

.pane--hero-block .group-ds_content {
    position: relative;
    transform: translateY(30px);
    transform: initial;
    transition: .5s;
    text-align: center;
    opacity: 0;
    z-index: 2;
}

.pane--hero-block .field--name-field-background-image img {
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    object-fit: cover;
}


.hero-about {
  background: $orange;
  bottom: 0;
  left: 13.76471%;
  width: 29.11765%;
  position: absolute;
  z-index: 1;
  padding: 2vw 2vw 0vw;
}

@media only screen and (max-width: 800px) {
  .hero-about {
      background: #FF5722;
      left: 0;
      width: 100%;
      position: relative;
  }
}

// Home - stages

.box {
    padding: 2vw 2vw 1vw;
}

.box-svg {
    height: 160px;
}

.box-svg svg {
    vertical-align: middle;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 75%;
    max-height: 75%;
    margin: 20px auto;
}

#stages-in-home .text-width {
    padding-bottom: 4vw;
}


// page-header

.page-header-orange {
  position: relative;
  margin-bottom: -360px;
  z-index: -1;
  overflow: hidden;
  & img {
    max-width: none;
    height: 323px;
  }
}

.page-header-orange .text-width {
  position: relative;
  color: white;
  height: 50px;
  &:before {
    content: '';
    top: -323px;
    left: -500px;
    width: calc(100% + 500px);
    height: 323px;
    background: #435367;
    position: absolute;
    mix-blend-mode: hard-light;
  }
  &:after {
    content: '';
    top: -323px;
    left: -510px;
    width: 20%;
    height: 356px;
    position: absolute;
    mix-blend-mode: soft-light;
    border-left: 500px solid $orange;
  }
}

.mt-header .breadcrumbs.white {
    margin-bottom: 136px;
}

.page-with-header .breadcrumbs {
  margin-bottom: 150px;
}

// challenges

.challenges {
  margin-top: calc(1rem + 1vw);
}

.problem-box {
  background: $gray-five;
  padding: calc(2vw + 1rem);
  margin-bottom: 2vw;
  position: relative;
  min-height: calc(19rem + 13vw);
  & .bg-blue {
    border: 4px solid $gray-five;
  }
  & .bg-white {
    border: 4px solid $gray-five;
  }
  & p {
    margin-bottom: 0;
    &.details {
      margin: 0px 0 12px;
    }
  }
}


// Proposals

.proposal-type {
  font-family: $body-font-family-title;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.proposals-list {
  margin-bottom: 0;
}

.most-voted{
  color: $orange;
}

.most-activated{
  color: $light-blue;
}

.como01, .como02, .como03, .como04 {
  height: 210px;
  width: 265px;
  margin: 0 auto;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background-size: 200px;
    background-repeat: no-repeat;
  }
}

.como01 {
    background-image: asset-url("como01.png");
    &:hover {
      background-image: asset-url("como01.gif");
    }
}

.como02 {
    background-image: asset-url("como02.png");
    &:hover {
      background-image: asset-url("como02.gif");
    }
}

.como03 {
    background-image: asset-url("como03.png");
    &:hover {
      background-image: asset-url("como03.gif");
    }
}

.como04 {
    background-image: asset-url("como04.png");
    &:hover {
      background-image: asset-url("como04.gif");
    }
}

.white{
  color: $white;
}

.white a {
  color: lighten( $orange, 25%);
}

// Vista propuesta

.back, .icon-angle-left {
    color: $gray-two;
    float: none;
}

// Evaluations

.callout {
    border: 4px solid #F4F9FF;
}

// Evaluations

.callout {
    border: 4px solid #F4F9FF;
}

// Evaluations

.callout {
    border: 4px solid #F4F9FF;
}

// Footer

.footer {
    background: $gray-four;
    border-top: 1px solid $gray-four;
    padding-top: 5vw;
}

.footer p {
  font-size: inherit;
}

footer a, footer a:active, footer a:focus {
    color: $gray-two;
    text-decoration: none;
    &:hover {
      color: darken ($gray-two, 10%)
    }
}

footer a i {
  padding-left: 16px;
}

.footer svg {
    max-width: 100%;
}

.footer .logo img {
    width: auto;
}

.footer, .push {
    min-height: 15rem;
}

.redes {
    padding: 2vw 0px;
}

.disabled {
   pointer-events: none;
   cursor: default;
   color: $gray-three !important;
}

.share-proposal{
  background-color: $light-blue !important;
}

// Tooltip

.has-tip {
    border-bottom: none;
    color: $orange;
    padding-left: 4px;
}

// Animation

@keyframes pulse2 {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(2, 2, 2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse2 {
  animation-name: pulse2;
}

// Challenge / Problem

.challenge-menu > li > a {
    border-bottom: 13px solid $gray-three;
    color: $gray-two;
    position: relative;
    padding: 1rem 0rem;
    &::before {
      content: '';
      position: absolute;
      left: -7px;
      bottom: -13px;
      background: $gray-two;
      border-radius: 10px;
      width: 13px;
      height: 13px;
    }
}

.challenge-menu {
  position:relative;
  &::after  {
    position: absolute;
    right: -7px;
    bottom: 0px;
    background: $gray-three;
    border-radius: 10px;
    width: 13px;
    height: 13px;
    content: '';
  }
}
.challenge-menu > li > a:hover {
  border-bottom: 13px solid lighten($brand, 20%);
  color: $brand;
  &::before {
    content: '';
    position: absolute;
    left: -7px;
    bottom: -13px;
    width: 13px;
    height: 13px;
    background: $brand;
    border-radius: 10px;
  }
}

.challenge-menu.menu .active > a {
    border-bottom: 13px solid lighten($brand, 20%);
    background: none;
    color: $brand;
    &::before {
      content: '';
      position: absolute;
      left: -7px;
      bottom: -13px;
      width: 13px;
      height: 13px;
      background: $brand;
      border-radius: 10px;
    }
}

.challenge-menu li {
    width: 25%;
}

// Challenge menu mobile

.challenge-menu-mobile {
    margin: 1rem 0;
}

.challenge-menu-mobile .menu.vertical {
    background: #F7FBFF;
    margin: 0;
    padding: 0;
}

.challenge-menu-mobile .menu li, .challenge-menu-mobile .menu.horizontal li {
    width: 100%;
}

.challenge-menu-mobile .dropdown.menu .is-submenu-item a {
    padding: 1rem;
    width: 100%;
}

.challenge-menu-mobile .menu.vertical li {
    margin-bottom: 0;
}

.challenge-menu-mobile .dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding: 1rem;
    background: $brand;
    color: white;
    border-radius: 3px;
}

.challenge-menu-mobile .menu .active > a {
  background: $gray-four;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}


.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: $light-blue;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #a6d8fc;  }

/***** Carousel *****/

.orbit-previous, .orbit-next {
    color: $brand;
}
